<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
</head>
<body>
<form th:action="@{/index}">
<a>图书品种：</a>
<select name="categoryId">
    <option th:value="null" th:text="全部"></option>
    <option th:each="ecList:${ebookCategoryList}" th:value="${ecList.getId()}" th:text="${ecList.getName()}"></option>
</select>
   <input th:type="submit" value="查询">
    <a th:href="@{/insert}">新增</a>
<table border="1">
    <tr>
        <td colspan="6" style="text-align: center">电子图书列表</td>
    </tr>
    <tr >
        <th>图书编号</th>
        <th>图书名称</th>
        <th>图书摘要</th>
        <th>上传人</th>
        <th>上传时间</th>
        <th>操作</th>
    </tr>
    <tr th:each="list :${pageInfo.getRecords()}">
        <td th:text="${list.getId()}"></td>
        <td th:text="${list.getTitle()}"></td>
        <td th:text="${list.getSummary()}"></td>
        <td th:text="${list.getUploadUser()}"></td>
        <td th:text="${list.getCreateTime()}"></td>
        <td>
            <a th:href="@{/update(id=${list.getId()})}">修改</a>
            <a th:href="@{/deleteById(id=${list.getId()})}">删除</a>
        </td>
    </tr>
</table>
</form>
第<span a th:text="${pageInfo.getCurrent()}"></span>页/共<span th:text="${pageInfo.getPages}"></span>页
<a th:if="${pageInfo.getCurrent()!=1}" th:href="@{/index(pageNum=1)}">首页</a>
<a th:if="${pageInfo.getCurrent()!=1}" th:href="@{/index(pageNum=${pageInfo.getCurrent()}-1)}">上一页</a>
<a th:if="${pageInfo.getCurrent()!=pageInfo.getPages()}" th:href="@{/index(pageNum=${pageInfo.getCurrent()}+1)}">下一页</a>
<a th:if="${pageInfo.getCurrent()!=pageInfo.getPages()}" th:href="@{/index(pageNum=${pageInfo.getPages()})}">末页</a>

</body>
</html>